<head>
  <title>Prise de note</title>
</head>

<body>
  {{#if currentUser}}
    {{> home}}
  {{else}}
    {{> atForm}}
  {{/if}}
</body>

<template name="home">
  <h1 class="text-center">Prise de note</h1>
  <button class="btn btn-secondary js-logout">Deconnextion</button>
  {{> new_note}}
  {{> list_note}}
</template>

<template name="new_note">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="js-new-note">
            <input class="form-control" type="text" name="title" placeholder="Titre de la note">
            <br>
            <textarea class="form-control resize-vertical" placeholder="Description de la note" name="text" rows="0" cols="80"></textarea>
            <br>
            <button class="btn btn-primary" type="submit" name="submit">Valider</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="list_note">
  <h2 class="text-center">Liste des notes</h2>
  {{#each note in notes}}
    {{> single_note note=note}}
  {{else}}
    <h3 class="text-center">Aucune note disponible</h3>
  {{/each}}
</template>


<template name="single_note">
  <div class="panel panel-default js-edit-note" style="cursor: pointer;">
    <div class="panel-heading">
      <h3 class="panel-title">{{note.title}}</h3>
    </div>
    <div class="panel-body">
      <p style="white-space: pre">{{note.text}}</p>
    </div>
  </div>
</template>

<template name="modal_edit_note">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form class="js-edit-note">
                <input class="form-control" type="text" name="title" value="{{note.title}}">
                <br>
                <textarea class="form-control resize-vertical" name="text" rows="0" cols="80" value="{{note.text}}"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                <button type="button" class="btn btn-danger js-delete-note">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</template>
  